body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
    color: rgb(255, 0, 0);
    font-size: 60px;
    margin-bottom: 20px;
    
}

.main {
  background: white;
  padding-inline: 2.5em;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 650px;
  height: 400px;
  text-align: center;
}

a.button { 
    padding: 20px 100px;
    border: 50px;
    border-radius: 500px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 50px;
    transition-duration: 0.4s;
};

a.button:hover{
    background-color: rgb(255, 255, 255);
}
#TheVideo
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter : blur(20px);
}

