body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e81a1a, #007bff);
}

table{
    border-collapse: collapse;
}
td{
    width: 80px;
    height: 90x;
    border: 2px solid rgb(202, 247, 202);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100x;
    justify-content: center;
    display: flex;
    align-items:center
}
.driver {
  width: 200px;
  height: 100px;
  display: flex;
  
  margin-right: 90px;
  justify-content: center;
  align-items: center;
  float: left ;
  background-color: rgb(255, 151, 151);
  border-radius: 15px;
}
.conductor {
  width: 200px;
  height: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
  float: right;
  background-color: rgb(255, 151, 151);
  border-radius: 15px;
}

.front {
    width: 410px;
    height: 50px;
    display: flex;                 
    justify-content: center;       
    align-items: center;          
    background-color: rgba(235, 235, 235, 0);
    border-radius: 15px;
}
a.button {
    padding: 30px 80px;
    border: 50px;
    border-radius: 500px;
    color: white;
    background-color: rgb(120, 75, 180);
    text-decoration: none;
    font-size: 50px;
}
#MyVideo 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(10px);
    z-index: -1;
   
}
.seat {
    width: 100px;
    height: 100px;
    background: rgb(202, 247, 202);
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000;
    cursor: pointer;
}

.seatnum{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color : white;
    
}

.seat.yellow {
    background: rgb(255, 255, 156);
}

.seat.red {
    background: rgb(255, 150, 150);
    color: rgb(0, 0, 0);
}
.MyVideo {
    position: relative;
    z-index: -1;
}

.MyVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%vh;
    background: rgba(0,0,0,0.45); /* adjust darkness */
    z-index: 2;
}
.title {
    color: #ffffff; /* soft white */
    font-size: 40px;
}

.subtitle {
    color: #ffffff; /* light gray */
}

h2, p {
  margin: 10px;
}

.navbar {
  position: relative;
  z-index: 3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
  color: white;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #8b0000;
  color: white;
}
